$primary-color-text: #323232; 
$secondary-hover-state: #000000;
$secondary-text-color: #AFAFAF; 
$primary-color-light-text: #FFF;
$secondary-background-color: #FAFAFA; 
$divider-line-color: #E1E1E1; 
$tablet-breakpoint: 48rem; 
$desktop-breakpoint: 80rem; 
$error-color: #D22D2D;